extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.s12.m6
        .card
          .card-content#textContent
            span.card-title Supplement #{supplement.Id}
            p Alumni: #{supplement.Name} #{supplement.Surname}
            p(style="word-break: break-all;") eID:  #{supplement.Owner}
            p University:#{supplement.University}
            .card
              .card-content#textContent
                span.card-title 
                p Email Accounts supplement has been shared with:  
                ul  
                  each val, key in supplement.Authorized
                    li(id=key) 
                      i #{val.Email} 
                      a
                        i.material-icons(style= "margin-left:0.3em;margin-top:0.3em;cursor:pointer;"
                                  onclick='removeUser("'+val.Email+'","'+key+'")') cancel
                div.row
                  div.col.s6.m6.l6
                    a.btn.btn-primary(href="#", style ="margin-right:0.1em;" 
                                    onclick='saveShareChanges(event,"'+supplement.Id+'")') Save
                  div.col.s6.m6.l6
                    a.btn.btn-primary(href="/supplement/view") Cancel
                
    .row
      .col.l6.m6.col-md-offset-3
        a.btn.btn-primary(href="/supplement/view") Back 

  block scripts
    script
      include ../scripts/editSupplement.js  
      include ../scripts/qrScript.js
      
