extends layout

block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.l12.md12.col-md-offset-3
        // register form
        form(method='POST' action='/supplement/request')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name' 
                      value= firstName +" "+ lastName , readonly)
          div.form-group
            label(for='eid') eID:
            input#eid.form-control(type='text', placeholder='uniquness identifier' name='eid' 
                      value= eID, readonly)
          div.form-group
            label(for='uniName') University Name: 
            input#uniId.form-control(type='text', placeholder='university identification' class="validate" 
                                      required="" aria-required="true" name='uniName')
          div.form-group
            label(for='email') Contact eMail:
            input#email.form-control(type='email', placeholder='your prefered contact mail'
                        class="validate" required="" aria-required="true" name='email')
          div.form-group
            input#eIDHash.form-control(type='hidden', name='eIDHash', value=eIDHash)

          button.btn.btn-primary(type='submit') Send Request
