extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.s12.m6
        .card
          .row.card-content#textContent
            span.card-title Supplement #{supplement.Id}
            span HolderInfo  
              ul#HolderInfo
                li Name: #{supplement.Holder_Info.Name}
                li DateOfBirth: #{supplement.Holder_Info.DateOfBirth}
                li StudentId: #{supplement.Holder_Info.StudentId}
            span Qualification_Info  
              ul#Qualification_Info 
                li Name: #{supplement.Qualification_Info.Name}
                li FieldsOfStudy: #{supplement.Qualification_Info.FieldsOfStudy}
                li InstitutionName: #{supplement.Qualification_Info.InstitutionName}
                li InstitutionStatus: #{supplement.Qualification_Info.InstitutionStatus}
                li InstructionLanguage: #{supplement.Qualification_Info.InstructionLanguage}
            span Qualification_Level  
              ul#Qualification_Level
                li Qualification_Level: #{supplement.Qualification_Level.Level}
                li Programme Length: #{supplement.Qualification_Level.ProgrammeLength}
                li AccecssRequirements: #{supplement.Qualification_Level.AccecssRequirements}
            span Content_Info  
              ul#Content_Info
                li Qualification_Level: #{supplement.Content_Info.ModeOfStudy}
                li ProgrammeRequirements: #{supplement.Content_Info.ProgrammeRequirements}
                li ProgrammeDetails: #{supplement.Content_Info.ProgrammeDetails}
                li GradingScheme: #{supplement.Content_Info.GradingScheme}
                li OverallClassificationOfQualification: #{supplement.Content_Info.OverallClassificationOfQualification}
            span Qualification_Function  
              ul#Qualification_Function
                li AccessToFurtherStudy: #{supplement.Qualification_Function.AccessToFurtherStudy}
                li ProfessionalStatus: #{supplement.Qualification_Function.ProfessionalStatus}
            span Additional_Info  
              ul#Additional_Info
                li AdditionalInfo: #{supplement.Additional_Info.AdditionalInfo}
                li InfoSources: #{supplement.Additional_Info.InfoSources}
            span Supplement_Certification  
              ul#Supplement_Certification
                li Date: #{supplement.Supplement_Certification.Date}
                li Capacity: #{supplement.Supplement_Certification.Capacity}
                li Stamp: #{supplement.Supplement_Certification.Stamp}
            span HigherEducationSystem_Info  
              ul#HigherEducationSystem_Info
                li HigherEductaionSystemInfo: #{supplement.HigherEducationSystem_Info.HigherEductaionSystemInfo}
          .row.card-content#buttons
            div.col.s6.m3.l3(style="position: relative; ")
              a.btn-floating.btn-large.waves-effect.waves-light.blue.darken-3(
                                  href="/supplement/download/"+supplement.Id) 
                i.material-icons file_download
    .row
      .col.l6.m6.col-md-offset-3
        a.btn.btn-primary(href="/login") Back 

  block scripts
    script
      include ../scripts/qrScript.js
