extends layout

block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        #headerMessage.col-m-12=message
    .row
      .col.s12.m6#preloader( style="display:none;float: left;left: 0;clear: both;")
        #meassageDiv Generating request... 
        .progress#preloader
            <div class="indeterminate"></div>
    .row
      .col.l12.md12.col-md-offset-3
        // register form
        form
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name' 
                      value= firstName +" "+ lastName , readonly)
          div.form-group
            label(for='eid') eID:
            input#eid.form-control(type='text', placeholder='uniquness identifier' name='eid' 
                      value= eID, readonly)
          div.form-group
            label(for='uniId') University identifier:
            input#uniId.form-control(type='text', placeholder='university identifier' name='uniId' 
                      , required="")
          div.form-group
            label(for='uniName') University Name: 
            input#uniName.form-control(type='text', placeholder='university identification' class="validate" 
                                      required="" aria-required="true" name='uniName')
          div.form-group
            label(for='email') Contact eMail:
            input#email.form-control(type='email', placeholder='your prefered contact mail'
                        class="validate" required="" aria-required="true" name='email')
          div.form-group
            input#eIDHash.form-control(type='hidden', name='eIDHash', value=eIDHash)
          div.form-group
            input#DateOfBirth.form-control(type='hidden', name='DateOfBirth', value=dateOfBirth)

          button.btn.btn-primary(onclick='requestPublication(event)') Send Request



block scripts
  script
    include ../scripts/supplementPublication.js
